[2018-12-14 07:05] agentmilindu opened #1 "Ability to mount current dir as a volume"
Dunner should be able to mount the current directory as a volume to the Docker working directory.

Say the project is a Java project and the user uses an MVN + Java Docker to compile it and create a jar file. Then the Dunner should mount the source code of the project to this MVN + Java Docker in order to compile it.

[2018-12-14 07:07] agentmilindu opened #2 "Add ability to add ENV variables"
The users should be able to set ENV variables to the Docker containers from `.dunner.yaml`

[code]

[2018-12-14 07:09] agentmilindu opened #3 "Add ability to pass arguments to tasks"
When the `.dunner.yaml` is as follows, users should be able to run `Dunner status prod` where `prod` is an argument to the task `status`

[code]

[2018-12-14 07:12] agentmilindu opened #4 "Add ability to define the dir to be mount to the Docker"
Users should be able to define the sub-directory of the source directory which should be mounted as a volume to the Docker as `dir`

[code]

[2018-12-14 07:19] agentmilindu opened #5 "Restructure the code and take out logic to a separate service level"
I need some help from someone who is good with Golang, in defining the structure of the project well.

I need to extract out the logic in `do.go` into a service layer and `do.go` to call these services.
I'm my opinion, reading the `yaml` should be one service and interacting with the Docker should be another service.

[2018-12-18 13:03] PratikDhanave commented on #5
I think we can create an interface which is a collection of services and we can call these methods/services from do.go

[2018-12-20 18:19] agentmilindu commented on #5
here I have implemented the interfaces in Python to make it easy for us to work with. please refer the branch '[python-function-protos](https://github.com/leopardslab/Dunner/tree/python-function-protos)'

[2018-12-20 23:53] agentmilindu opened #7 "Integrate a logging lib"
Integrate and configure a good logging library for logging purposes.

https://github.com/op/go-logging seems good.

[2018-12-20 23:58] agentmilindu opened #8 "Build a RPM Package"
Dunner should be packaged and distributed as a RPM Package

[2018-12-21 00:01] agentmilindu opened #9 "Build a Deb Package"
Dunner should be packaged and distributed as a Deb package

[2018-12-27 11:08] ayushjn20 opened #11 "`do` command not able to pull images"
### Issue
If the image mentioned in `.dunner.yaml` is not present on the system, `ImagePull` is not able pull the image according to current implementation.

### Workaround
After referring to this [thread](https://forums.docker.com/t/golang-api-imagepull-error-solved/35439), it was found that the reader returned by `ImagePull` needs to be handled.
Modifying the code in `do.go` from line no. [L49](

[2018-12-27 12:30] agentmilindu commented on #11
Nice investigation @ayushjn20.
Yes, we need a way to inform the user that the defined docker image cannot be pulled, Let's work on this.
As you have mentioned,  logs every step of download/extract process in separate line will become a mess. We can do it in verbose mode, but not in the usual use. Let's find out what we can do there.

[2018-12-27 19:23] agentmilindu opened #13 "Automate the testing & building with Travis CI"
We need to test and build the Dunner everytime a new change is merged to a branch and even the PRs created.

[2018-12-27 19:24] agentmilindu opened #14 "Automate the lint checking with Codacy"
We need to run lint checks everytime a new change is merged into a branch and even the PRs created.

[2018-12-28 16:58] agentmilindu opened #15 "Error logs from containers are not shown"
When the containers are running, outputs on stderr is not shown making the user unable to see if something went wrong.

[2018-12-29 04:43] ayushjn20 commented on #13
Hey @agentmilindu, I am looking over this issue.
I think test files should be added before integration with Travis CI as the default command by Travis CI for Golang projects is `go test -t -v ./... ` and adding go test files highly recommended practice too.

[2018-12-29 04:50] championballer commented on #7
@agentmilindu Can I be assigned this issue?

[2018-12-29 07:05] agentmilindu commented on #7
Yeah, please proceed with this and send a PR

[2018-12-29 07:06] vaibhavk commented on #13
@agentmilindu I would like to take this issue, but as @ayushjn20 suggested we need some test to begin with. I'll write few tests to begin with and get TravisCI up and running

[2018-12-29 07:39] #15 closed

[2018-12-29 07:42] ayushjn20 commented on #13
Hey @vaibhavk , I actually completed my research and I've already started working on it.
It would be great if you can look for some other issue which is not claimed by anyone. Thanks! :smile:

[2018-12-29 07:47] ayushjn20 commented on #5
The current structure in approved in #12 is not quite according to the Golang standard accepted by the community. Have a look at this [repo](https://github.com/golang-standards/project-layout) and this [section](https://golang.org/doc/effective_go.html#package-names) of "Effective Go". Although it is not an official structure, but it has been developed by observing the trend in bigger projects in

[2018-12-29 10:00] agentmilindu commented on #5
@ayushjn20 I reopened the issue, you can send a PR

[2018-12-29 10:19] agentmilindu commented on #13
I will create an issue for adding tests

[2018-12-29 10:21] agentmilindu opened #18 "Integrate a unit testing framework and add tests"
We need to have unit tests to cover all the units of Dunner

[2018-12-29 16:14] ayushjn20 commented on #18
Hey @agentmilindu, I am working on a patch that will cover the following,
* Restructure and refactoring according to community standards.[ #5 ]
* Add unit test files for services.[ #18 ]
* Add `.travis.yml` for automated testing using Travis CI. [ #13 ]

[2018-12-30 02:54] agentmilindu commented on #18
Nice, but don't make PRs huge. Good if your can break the patch into smaller chunks and send small PRs quickly.
It's makes development quick. I'm waiting till you push the refactoring things to proceed with they rest of my work, because unless it would make lot of conflicts.

[2018-12-31 15:56] agentmilindu opened #22 "Makefile for Dunner"
We need a Makefile for doing the following,

`make` = `dep ensure`
`make install` = `go install -ldflags '-s'`
`make test` = `go test -v ./...`

[2019-01-21 09:55] championballer commented on #7
@agentmilindu If this is done, do you think it would be better to close this?  Do you plan to have anything else added with reference to this issue?

[2019-01-21 17:37] agentmilindu commented on #7
Let's close this!

[2019-01-21 17:37] #7 closed

[2019-01-23 20:36] ayushjn20 commented on #18
@agentmilindu Issue can be closed with reference to #21 .

[2019-01-23 20:37] ayushjn20 commented on #13
Can be closed with reference to #24

[2019-01-23 23:15] agentmilindu commented on #18
Fixed with #21

[2019-01-23 23:15] #18 closed

[2019-01-23 23:28] #13 closed, assigned to nobody

[2019-01-23 23:32] agentmilindu commented on #11
Fixed with #28

[2019-01-23 23:32] #11 closed

[2019-01-24 04:47] ayushjn20 opened #31 "Add command to check for syntax/lint errors in '.dunner.yaml'"
Currently only a single command exists: `do`. Let's say that someone wants to only check for a valid dunner file, then there is no option except to run all the commands using `do`.

Although it is easy to write the dunner file, it would be great if we could add a new command as syntax validator that can point some of the errors if present without actually running the dunner file.

An alternate sol

[2019-01-24 11:01] ayushjn20 opened #32 "Asynchronous pulling of images"
A single dunner file can contain multiple images whose containers will have many commands to run. Pulling images from a remote server (like Docker hub) one by one is quite slow. Concurrent pulling of images can be implemented using `goroutines`.

[2019-01-24 17:15] agentmilindu commented on #32
This idea is really cool! But I have a little doubt? Will concurrent pulling saves the time, As the bandwidth is still constant?

@rehrumesh @rhperera @tharindupr @charithccmc WDYT?

[2019-01-26 05:14] rhperera commented on #32
This is nice work. I think we might need some options that one could specify to have control over the method of pulling images.

- Shall we have a switch, an option that we can tell Dunner if it should do the pulling parallel or sequential. If someone wants/have a single core, then they might want to turn off parallel pulling. docker-compose have the ability to define these options.

- Next one is

[2019-01-26 06:07] ayushjn20 commented on #32
Hey @agentmilindu @rhperera
I actually did some analysis by modifying the code in main.go to calculate to the time elapsed.

[code]

And this is the benchmark performance of my current work(making containerisation asynchronous too):
[code]
I have made sure to remove containers and images before re-running.

[2019-01-26 06:18] ayushjn20 commented on #32
@rhperera

Implementing a switch requires incorporating flags using cobra's _Persistant Flags_ and global configurattion across the project using viper. Both of these are next in my pipeline. It would be really great if there is some progress over #33, so that I can make a new PR for asynchronous containerization. Then I will start working on the above-mentioned features.

[2019-02-10 20:08] championballer commented on #22
@agentmilindu Let's close this? :")

[2019-02-18 14:29] ayushjn20 commented on #32
@agentmilindu @rhperera
Have a look at pull #34. I hope the proposed implementation in the new PR is up to the mark.

[2019-02-19 17:11] vaibhavk commented on #2
I would like to work on this issue

[2019-02-24 16:58] agentmilindu commented on #31
What I have seen with AWS CLI and several others is, they have an option called `--dry-run`. We can follow the same.  WDYT?

CC @rehrumesh @charithccmc @rhperera @rajikaimal

[2019-02-25 14:14] ayushjn20 commented on #32
Closed with reference to #34

[2019-02-25 14:14] #32 closed

[2019-02-26 06:56] VibhorCodecianGupta commented on #3
Working on this

[2019-02-26 11:24] vaibhavk commented on #4
Can I work on this issue?

[2019-02-26 16:00] agentmilindu commented on #4
yes, please go ahead @vaibhavk

[2019-02-27 02:22] agentmilindu opened #40 "Ability to mount other dirs to the task containers"
Users should be able to mount some directories to the Docker containers. Like,
[code]

`mount` should be an array of strings, and a string has 3 parts as `host-path:container-path:flags`
flags can be optional

[2019-02-27 02:24] agentmilindu opened #41 "Ability to use a task as a step for another task"
Ability to  refer `status` task from `deploy` task as `@status`.

[code]

[2019-02-27 02:25] agentmilindu opened #42 "Ability to get ENV, param, etc values from host environment variables or .env file"

[2019-02-27 02:28] agentmilindu commented on #14
Fixed with https://github.com/leopardslab/Dunner/pull/36

[2019-02-27 02:28] #14 closed

[2019-02-27 03:01] championballer commented on #41
@agentmilindu Can I work on this?

[2019-02-27 09:01] ayushjn20 commented on #2
I would like to work on it.

[2019-02-27 09:01] ayushjn20 commented on #40
I would like to work on it.

[2019-02-27 09:01] ayushjn20 commented on #42
I would like to work on it.

[2019-02-27 15:24] agentmilindu commented on #41
This is a bit complex task. take only if you are sure about this. You might need a good understanding of the Dunner code base and Golang.

[2019-02-27 22:26] championballer commented on #41
@agentmilindu Is it okay if I can get a few days for this? If I am unable to do by then, then I will turn it over?

[2019-03-04 17:01] agentmilindu commented on #41
@championballer How's it going?

[2019-03-04 17:21] championballer commented on #41
@agentmilindu Have been reading around this, will go full throttle once exams end.

[2019-03-04 20:02] gane5hvarma commented on #9
@agentmilindu would like to work on this.is anyone workng on this?

[2019-03-04 20:41] agentmilindu commented on #9
@gane5hvarma Please proceed

[2019-03-05 14:45] ayushjn20 commented on #41
@agentmilindu @championballer
This feature has a pre-requisite feature described in the issue #3.

[2019-03-05 18:20] agentmilindu commented on #2
FIxed with #43

[2019-03-05 18:21] #2 closed

[2019-03-05 18:21] agentmilindu commented on #42
Fixed by #43

[2019-03-05 18:21] #42 closed

[2019-03-06 10:09] ayushjn20 commented on #4
This issue can be closed with reference to #45.

[2019-03-07 07:11] ayushjn20 commented on #4
This issue can be closed with reference to #48.

[2019-03-07 12:44] ayushjn20 commented on #40
This issues can be closed with reference to #45.

[2019-03-07 16:53] agentmilindu commented on #40
Fixed by #45

[2019-03-07 16:53] #40 closed

[2019-03-07 16:53] agentmilindu commented on #4
Fixed by #48

[2019-03-07 16:53] #4 closed

[2019-03-07 18:06] championballer commented on #41
@ayushjn20 Yeah realised that. Sorry for the delay. Exams ended today. I guess you have a submitted a PR for the same already?

[2019-03-10 11:23] agentmilindu commented on #41
Fixed by #47

[2019-03-10 11:23] #41 closed

[2019-03-10 11:24] agentmilindu commented on #3
Fixed by #47

[2019-03-10 11:24] #3 closed

[2019-03-12 22:03] apoorvam opened #49 "Brew formula for Dunner"
I'm adding a `brew` formula for Dunner, as it's a go-to package manager for Mac OS. I have started to create a PR on this, but brew needs a URL link to project source tarball. Usually, its referenced from GitHub releases. However, I see no releases made for Dunner so far.

Is it possible to make an initial release for this repository?

[2019-03-14 16:01] agentmilindu commented on #49
Yeah, that's cool!
I just merged version `v1.0.0` of Dunner! Let me create a release now.

[2019-03-14 17:20] agentmilindu commented on #49
@apoorvam https://github.com/leopardslab/Dunner/tree/v1.0.0

[2019-03-14 21:05] apoorvam commented on #49
Awesome!
I have raised a PR to homebrew to include `dunner`. Will wait for this PR to get merged: https://github.com/Homebrew/homebrew-core/pull/37916 @agentmilindu

[2019-03-14 21:18] apoorvam commented on #49
Homebrew needs a repository to pass criteria of one of these:
`<30 forks, <30 watchers and <75 stars`
Once this limit is passed, PR can get merged.

[2019-03-15 00:55] agentmilindu opened #53 "Dunner is a code name; We need a name!"
`Dunner` is not the official name of this project, it is just a code name!
It might be the official name, it might not. Give us your suggestions for a  name with a good relevant meaning.

[2019-03-16 02:18] agentmilindu commented on #49
@apoorvam Shall we try to create a personal tap as he has suggested? We can then use it for testing with Mac OS until we get listed in Brew

[2019-03-18 22:22] apoorvam commented on #49
@agentmilindu I have created a brew tap in my repository:  Can you fork it to `leopardslab` profile?
https://github.com/apoorvam/homebrew-dunner

After that `brew install leopardslab/homebrew-dunner/dunner` or `brew tap leopardslab/dunner` should install dunner.

[2019-03-20 07:13] agentmilindu opened #55 "`dunner validate` command"
`dunner validate` will validate the `.dunner.yaml` and if there is an issue, it will show warning m messages.

[2019-03-20 07:15] agentmilindu opened #56 "Dunner Dry Run"
`Dunner do somecommand --dry-run` will pull the images fro Docker hub but will not run the commands, just like dry run in other applications.

[2019-03-20 09:35] agentmilindu commented on #49
Done https://github.com/leopardslab/homebrew-dunner
Nicejob @apoorvam!

[2019-03-20 15:08] apoorvam commented on #49
@agentmilindu Can add below instructions in Installation Guide wiki:

[code]
brew tap leopardslab/dunner
[code]
brew install leopardslab/homebrew-dunner/dunner
[code]

I could not send PR to that due to access issues.

[2019-03-21 17:31] agentmilindu opened #57 "Ability to define multiple commands for the same step"
We should be able to define multiple commands for one step. All these commands will run on the same container.

[code]

[2019-03-21 17:36] agentmilindu opened #58 "Referring other steps should be renamed"
[code]

makes no sense, let's rename it to
[code]
I'm open for suggesions also.

[2019-03-21 18:03] agentmilindu commented on #9
@ayushjn20 You are working on this, right? How's the progress?

[2019-03-21 18:04] agentmilindu opened #59 "Build a Snap package"
Dunner should be packaged and distributed as a Snap Package.
Anyone should be able to install Dunner as `snap install dunner`

[2019-03-21 18:04] agentmilindu commented on #59
I'm working on this

[2019-03-21 19:10] apoorvam commented on #31
`dunner do --dry-run` seems good as its a dry run of just `do`.

However, the title of this issue seems similar to #55 (dunner validate) ?

[2019-03-22 03:21] ayushjn20 commented on #57
Wanna try my hands on it.

[2019-03-22 03:26] ayushjn20 commented on #55
Duplicate of #31

[2019-03-22 09:50] agentmilindu commented on #31
@apoorvam yes, I divided this task into two different tasks. I forgot to mention it here.

CC @ayushjn20

[2019-03-22 10:07] agentmilindu commented on #55
@ayushjn20 I broke down #31 into two tasks

[2019-03-22 10:08] agentmilindu commented on #56
@ayushjn20 I broke down #31 into two tasks

[2019-03-22 16:50] agentmilindu commented on #22
Completed with #35

[2019-03-22 16:50] #22 closed

[2019-03-22 18:18] agentmilindu commented on #59
Fixed by #60

[2019-03-22 18:18] #59 closed

[2019-03-22 18:20] agentmilindu opened #61 "Build a AUR package"
Dunner should be packaged and distributed as an Arch User Repository (AUR) Package

[2019-03-23 15:07] #49 closed

[2019-03-23 15:08] apoorvam commented on #49
@agentmilindu Please make above changes to wiki, so we can close this issue for now.

[2019-03-24 11:51] ayushjn20 commented on #58
Working on this.
Suggestion: Instead of using keyword as `from: 'status'`, `follow: '@status'` seems more intuitive. What do you suggest @agentmilindu ?

[2019-03-24 11:52] ayushjn20 commented on #56
I guess not just pulling of image from Docker hub, but all other stuff like mounting directories except running the commands should be included.
Shall I proceed like this?

[2019-03-24 12:10] ayushjn20 commented on #9
Facing some errors regarding system dependencies. Might take longer time than expected.

[2019-03-25 02:39] agentmilindu commented on #56
agree, yes, proceed

[2019-03-25 02:39] agentmilindu commented on #58
`follow` seems good, shall we make it `follow: 'status'`?

[2019-04-01 06:14] ayushjn20 opened #66 "Auto-detect Docker API version"
Currently, the Docker API version is defined in the settings module, which can be changed using environment variables, or project settings file. There should be some way to find the latest compatible version of Docker API according to the installed Docker on the host.

[2019-05-12 19:09] apoorvam opened #68 "Improve Makefile"
* Add commands in Makefile to build, lint, format, test the source files.
* A command to be run before each commit that can keep the code changes in standard format, say `precommit`.

[2019-05-19 15:33] apoorvam opened #73 "Code coverage"
https://github.com/leopardslab/dunner/projects/3#card-21710200

[2019-05-20 14:21] apoorvam opened #75 "Add validations for configs"
With new changes in config, structure, following validations has to be added.

* Validate task exists when referenced via `follow`
* Validate `Commands` field of config

If there are any more validations to be added, it can be included.

### Expected

* When `dunner validate` is run, above validations should be checked
* When `dunner do <task>` is run, same validations should work

[2019-05-20 15:58] apoorvam commented on #8
`make release VERSION=v3.0.0` will add a git tag which can trigger the dunner release with all binaries and packages with this change: #72

[2019-05-20 16:22] agentmilindu commented on #8
Fixed by #72

[2019-05-20 16:22] #8 closed

[2019-05-23 06:24] ayushjn20 opened #76 "Add suitable comments for GoDoc"
Add comments for the following,
- [x] Packages, a very brief description of its purpose
- [x] Exported functions and structs, detailed explanation on what it does and or represents.
- [x] Examples to use some important functions/structs

Assigning this to myself.

[2019-05-26 03:46] apoorvam opened #78 "Initialize a dunner task file with `dunner init`"
[code]
should initialize any project with default dunner task file. This can be edited by used based on needs. Filename can be overridden by -t flag.

[2019-06-10 13:13] apoorvam opened #85 "Ability to use env variables in mount directory source"
In the `mounts` config of dunner, we cannot use environment variables.
Eg:
[code]
Above gives error in config.

### Expected
Dunner config should allow use of env for source and dest dir in mount directory.

[2019-06-14 07:48] apoorvam commented on #9
Have started releasing deb packages from release v2.1.1. Deb install instructions are added here: https://github.com/leopardslab/dunner/wiki/Installation-Guide

[2019-06-14 07:48] #9 closed

[2019-06-14 07:48] apoorvam commented on #68
Completed.

[2019-06-14 07:48] #68 closed

[2019-06-14 07:49] apoorvam commented on #55
Implemented as part of release v2.1.1. Closing this now.

[2019-06-14 07:49] #55 closed

[2019-06-14 07:50] apoorvam commented on #73
Code coverage is now integrated. Can be checked from readme in master branch.

[2019-06-14 07:50] #73 closed

[2019-06-15 19:16] apoorvam commented on #85
Creating a separate issue for ability to use relative path as it should be applicable in multiple options, not just mount dir.

[2019-06-21 23:57] agentmilindu commented on #85
Fixed by #88

[2019-06-21 23:57] #85 closed

[2019-06-25 05:51] apoorvam commented on #78
Done.

[2019-06-25 05:51] #78 closed

[2019-06-25 05:51] apoorvam commented on #75
Done.

[2019-06-25 05:51] #75 closed

[2019-06-25 12:59] apoorvam opened #89 "Dunner envs not working"
With latest `master`, try :
[code]
Environment variables are not passed to container. The commands above do not print passed values.

[2019-06-28 07:40] apoorvam opened #91 "Fail execution if a command fails"
If a command in a list of commands fail, the execution should halt and exit code should be non-zero.

Currently if there are two commands, first one fails, it still continues to second and gives exit code as zero, marking it success. This is invalid.

[2019-06-28 09:01] ayushjn20 commented on #89
Use `printenv` command to check if environment variables are set or not. I did.
Actually, the problem is the command here is being executed as `echo "$FOO_USER"`, which will have output `$FOO_USER` and not `foo`. But if you use `$FOO_USER` inside a bash script and copy it inside the container, it might work correctly.

[2019-06-28 09:01] ayushjn20 commented on #91
Okay, I'll see to it then.

[2019-06-28 09:46] apoorvam commented on #89
Okay, I tried with printenv. So its being set correctly.

But this is also a usecase that should work with echo. Do you think we can address it with some change?

[2019-06-28 17:10] ayushjn20 commented on #66
Close with reference to #67

[2019-06-28 17:10] #66 closed

[2019-06-28 17:11] ayushjn20 commented on #58
Closed with reference to #64

[2019-06-28 17:11] #58 closed

[2019-06-28 17:11] ayushjn20 commented on #61
Dunner published on AUR.
[Link](https://aur.archlinux.org/packages/dunner/)

[2019-06-28 17:11] #61 closed

[2019-06-28 17:12] ayushjn20 commented on #56
Closed with reference to #65

[2019-06-28 17:12] #56 closed

[2019-06-28 17:12] ayushjn20 commented on #57
Closed with reference to #63

[2019-06-28 17:12] #57 closed

[2019-06-30 04:32] apoorvam opened #92 "Ability to define common env variable for all steps of a task"
### Approach 1
Have a global `envs` and `mounts` section applicable for all tasks

Example:

[code]

[2019-07-15 07:25] apoorvam opened #98 "Add flag to set working directory for dunner"
Currently dunner can be run from project root directory only and config file can be passed from anywhere using flag/present working directory by default.

Ref: https://github.com/leopardslab/dunner/blob/v2.1.3/pkg/docker/docker.go#L62

[code]

This has pwd as default host mount file path. This can be made configurable.

In cases like CI systems/complex project structure, having a flag to set worki

[2019-07-18 13:49] agentmilindu opened #102 "Dunner needs a command to list down the tasks"
**Is your feature request related to a problem? Please describe.**
when I want to see what are the tasks in a particular Dunner file, I have to go into the file and check. ( In most of the cases I can't remember the tasks I have in Dunner file )

**Describe the solution you'd like**
If I have a command, like `dunner tasks` which list down the tasks, that makes life easier

**Describe alternatives

[2019-07-19 06:18] apoorvam opened #107 "When follow is used, image should not be mandatory"
**Describe the bug**
[code]
Above dunner task file fails validations saying:

[code]

**Expected behavior**
When follow is used, task image should be optional.

[2019-07-19 09:54] apoorvam opened #109 "When Follow task is given, actual task is not executed"
**Describe the bug**
[code]

Currently, it runs `setup` task first and not run `build` task at all after that.

**Expected behavior**
This is expected to run `setup` task first. If if fails, it should not continue. If it passes it should continue execution of `build` task.

[2019-07-19 17:57] agentmilindu opened #110 "No .env file WARN if misleading"
**Bug**
`WARN[2019-07-19 23:23:09] open .env: no such file or directory` this warning is kinda misleading. This makes a user wonder if having a `.env` is mandatory.
THis

**To Reproduce**
Steps to reproduce the behavior:
1. Run any dunner task

**Expected behaviour**
This ideally should be an INFO message. eg: `INFO[2019-07-19 23:23:09] No .env file found`

[2019-07-19 18:07] agentmilindu opened #111 "Owner of the files created by Docker images via Dunner is root"
**Describe the bug**
Owner of the files created by Docker images via Dunner is `root`, thus can not be modified by a user without `sudo` or changing the file permissions or ownership.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a `.dunner.yaml`
2. Add a task with a file creation step ( eg: `echo "Hi" > test.txt` )
3. Try to edit the generated file on the host machine
4. This give

[2019-07-19 18:14] agentmilindu opened #112 "Pulling an image INFO message is misleading"
**Describe the bug**
`INFO[2019-07-19 23:39:20] Pulling an image: 'golang'` This message is misleading when the system already has the Docker image pulled.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a `.dunner.yaml`
2. Add a task
3. Run the task ( This will pull the image )
4. Run the task again

**Expected behaviour**
Dunner should not pull the image again nor show an INFO mess

[2019-07-19 18:50] agentmilindu opened #113 "Dunner `dir` is not correctly set"
**Bug**
Dunner `dir` is not correctly set when we define it in `.dunner.yaml`

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a `.dunner.yaml`
2. Add a task which has a step to echo `$PW`
3. Define `dir` as `/go/`
2. See if the working directory is `/go` or `/dunner/go`

**Expected behavior**
It should be `/go` not `/dunner/go`

**Screenshots**
![Screenshot from 2019-07-20 00-15-20](

[2019-07-20 05:57] agentmilindu opened #114 "Locally built images not recognized"
**Bug**
Dunner can not recognize the locally built Docker images

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a `.dunner.yaml`
2. Ad a task which refers to a locally built Docker image rather a hosted one in a repo
3. Run the task

**Expected behaviour**
Dunner should pick the local Docker image and run the commands on it.

**Screenshots**
![Screenshot from 2019-07-20 11-23-24](ht

[2019-07-20 06:17] agentmilindu opened #115 "Task not found error not shown"
**Describe the bug**
When I run a task which is not defined in`.dunner.yaml` it silently fails without notifying the user.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a `.dunner.yaml`
2. Run a task which is not defined in the  `.dunner.yaml`

**Expected behaviour**
Dunner should notify me that the executed task is not defined and should exit with a non-zero exit code.

**Screensh

[2019-07-21 05:46] agentmilindu opened #117 "GoDoc badge to README.md"
Add a GoDoc badge to README.md

[2019-07-22 18:30] ayushjn20 commented on #109
@apoorvam I checked on my local machine using the following as the dunner file
[code]
It works fine.
Note: While writing the feature, I assumed that no command will be passed in the `follow` step. Therefore, the following is not supposed to work.
[code]

[2019-07-23 06:24] apoorvam commented on #109
Without thinking on how current implementation is, please formulate on how this feature should look like. We can proceed with implementation post that.

[2019-07-26 09:08] #110 closed

[2019-07-27 17:25] agentmilindu opened #130 "Pre-commit hook to run a linter & fail the commit if lint error are there"
When someone tries to commit the code, it should run a linter and fail if lint errors are there.

[2019-08-01 17:04] apoorvam opened #133 "Show command execution output once executed instead of delaying till end"
## Current behaviour
Currently, output is printed on console only after all the commands execution is complete. This makes user wonder if the task is even getting executed or its stuck.

## Expected
As each command is executed, its output should be shown on console. This gives user the progress of execution.

## Alternates available
As of now, Only option is to wait till the complete execution is

[2019-08-02 17:33] apoorvam commented on #117
Done. #126

[2019-08-02 17:33] #117 closed

[2019-08-04 08:14] apoorvam commented on #31
We now have `dunner validate` as well as dry run option. So this issue is not valid. Closing for now.

[2019-08-04 08:14] #31 closed

[2019-08-04 08:23] apoorvam opened #135 "Logo for dunner"
Dunner would love a logo for it!

[2019-08-05 14:37] #115 closed

[2019-08-05 14:38] #113 closed

[2019-08-05 14:39] #98 closed

[2019-08-05 14:47] #107 closed

[2019-08-05 14:49] #102 closed

[2019-08-05 14:59] #111 closed

[2019-08-05 15:37] #133 closed

[2019-08-05 15:54] apoorvam opened #137 "Show progress of docker image pull"
## Current behaviour

Currently, when a docker image is being pulled from registry, it displays a message that says

`Pulling image: 'golang'`

But it displays no progress of this image pull. This makes user wonder if its really pulling image, especially when network is slow or image is too big.

## Expected behaviour

Dunner should show progress of docker image pull.

Something like below that do

[2019-08-05 18:07] agentmilindu opened #138 "Argument-ed commands give exception when not arg is passed"
**Describe the bug**
When I have arg `$1` in my command, but I didn't pass it, I get an ugly go lang exception.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a task ( eg: `init` )
2. add a command like `["composer","create-project","--prefer-dist","laravel/laravel","$1"]`
3. Call the task without giving an arg `dunner do init`
4. See error

**Expected behaviour**
Showing a proper e

[2019-08-05 19:41] agentmilindu opened #139 "Traverse to parent directories if no `.dunner` file found"
**Is your feature request related to a problem? Please describe.**
Like in git, when no `.git` directory is found in the current directory it traverses to parents looking for a `.git` directory, Dunner should also do the same.

**Describe the solution you'd like**
When I do `dunner do deploy`, if `.dunner.yaml` is not there in the current directory, it should look in the parent directory, if not t

[2019-08-06 04:10] ayushjn20 commented on #89
Try this!
[code]

[2019-08-07 18:44] apoorvam opened #142 "Arguments are not replaced in `dir` and `mounts`"
**Describe the bug**
An argument passed from cli is not replaced in `dir` field of dunner task.

**To Reproduce**
Steps to reproduce the behavior:
[code]
* Create a task as above
* Run from cli as `dunner do build demo`
* Here `$1` of `mounts` and `dir` is not replaced with passed value of `demo`
* This creates a new directory called `_1` which is incorrect

**Expected behavior**
It should replace

[2019-08-10 19:11] ayushjn20 opened #146 "Restructure dunner file to incorporate global variables/arguments"
**Is your feature request related to a problem? Please describe.**
Sometimes it is required for the user to use the same environment variables over multiple steps and/or multiple tasks.

**Describe the solution you'd like**
There should be a way of defining different levels of scope of the variables. The variable can be defined for all the tasks, or all the steps of task, and so on. The variable v

[2019-08-11 03:53] agentmilindu commented on #146
A sample `.dunner.yaml` would be,

[code]

[2019-08-11 05:53] #76 closed

[2019-08-11 06:03] agentmilindu commented on #92
Capturing in #146

[2019-08-11 06:16] agentmilindu commented on #130
Let's add this setting up the pre-commit hook into the repo using the `Makefile`'s `setup` command

[2019-08-11 06:17] agentmilindu commented on #137
Let's have a simple loading kinda thing for the moment.

[2019-08-11 06:19] #138 closed

[2019-08-11 06:19] #139 closed

[2019-08-12 22:03] #109 closed

[2019-08-14 07:09] apoorvam opened #149 "Show colored error messages"
Currently, all output, log and error statements from dunner are in single default color. If error messages can be written in red color, it highlights errors and will be easy to identify for user.

Optionally, it can be turned off by a flag to not use colors. May be `--no-color` to turn off.

[2019-08-14 07:30] apoorvam opened #150 "Override mounts, envs from actual task by follow task"
After the restructure of Dunner config file as per #146 :

With follow task, one should be able to override the values of envs and mounts defined in the target task by values given in follow task.

[code]

In above example, deploy task is referring `status` task using `follow` field. So the `mounts` and `envs` defined in follow task should be used during execution of `status` task.

So when `statu

[2019-08-14 07:31] apoorvam commented on #150
@agentmilindu @ayushjn20 Please review if this is as we discussed.

[2019-08-14 07:32] apoorvam commented on #150
Depends on #146

[2019-08-18 05:42] #91 closed

[2019-08-18 05:42] #149 closed

[2019-08-18 05:46] agentmilindu commented on #142
Depends on #148

[2019-08-18 05:54] ayushjn20 commented on #130
Closed

[2019-08-18 05:54] #130 closed

[2019-08-21 14:15] apoorvam opened #154 "Add pointers to `dunner tasks` command result"
When you run `dunner tasks`, it shows as:

[code]

Pointers to tasks as a list would be more user friendly and identifiable.

[code]

Or any equivalent bullet pattern.

[2019-08-21 14:45] apoorvam opened #156 "Not throw validation error for env not set when listing tasks"
When I do `dunner tasks` to see list of tasks, if it has a env variable reference but not set in the environment, it shows a validation error without listing.

Expected behaviour:

List of tasks should be shown.

[2019-08-21 17:43] apoorvam opened #158 "Git hooks not failing commit on vet errors"
* If there is a vet error, git hooks should prevent git commit to succeed. But this is not happening.
* Use makefile commands in git hooks instead of using commands directly, so change is in one place when required.

[2019-08-22 16:46] ayushjn20 opened #161 "Container should be removed after execution of a step"
**Describe the bug**
Currently containers are left in exited state, which are not useful in future.

**To Reproduce**
Use dunner as you normally do; try with multiple steps. Then run `docker ps -a` in the terminal. You should see the containers created by dunner.

**Expected behavior**
These containers are useless, therefore, should be removed.

[2019-08-22 16:49] ayushjn20 opened #162 "Live output in the case of non-concurrent(sequential) execution of steps"
**Is your feature request related to a problem? Please describe.**
Currently, if some command takes a very long to get completely executed, like `npm install`, dunner actually waits for the command to get executed completely and then show the whole output in one go.

**Describe the solution you'd like**
Print the output like the output we get when the command runs normally and not on any container

[2019-08-25 02:21] ayushjn20 commented on #137
Closed with reference to #147

[2019-08-25 02:21] #137 closed

[2019-08-25 02:21] ayushjn20 commented on #112
Closed with reference to #121

[2019-08-25 02:21] #112 closed

[2019-08-25 02:22] ayushjn20 commented on #114
Closed with reference to #121

[2019-08-25 02:22] #114 closed

[2019-08-25 02:22] ayushjn20 commented on #92
Closed with reference to #148

[2019-08-25 02:22] #92 closed

[2019-08-25 02:23] ayushjn20 commented on #146
Closed with reference to #148

[2019-08-25 02:23] #146 closed

[2019-08-25 04:38] apoorvam commented on #158
Done.

[2019-08-25 04:38] #158 closed

[2019-08-25 04:38] apoorvam commented on #156
Done.

[2019-08-25 04:38] #156 closed

[2019-08-25 04:39] #162 closed

[2019-08-25 04:40] #161 closed

[2019-08-25 04:40] #154 closed

[2019-08-25 04:40] #150 closed

[2019-08-25 04:40] #142 closed

[2019-08-25 13:08] ayushjn20 opened #171 "Single string command parsing to docker"
**Is your feature request related to a problem? Please describe.**
It is very uncomfortable to write commands in the way as required by the docker client. The present format for a command is an array of strings where the first element is the name of the binary to be used.
[code]

**Describe the solution you'd like**
It would be great if we could direcrly write the commands in the following way,
[c

[2019-08-26 15:57] apoorvam opened #172 "Use Github actions to build and test Dunner"
Related: https://github.com/leopardslab/dunner/pull/165

[2019-08-26 22:11] apoorvam opened #173 "Ability to use private docker images"
Currently if the image is private on docker hub and requires login, dunner fails with error message as:

[code]

[2019-08-27 01:29] apoorvam opened #175 "Ability to use dunner with docker images whose entrypoint is defined"
For Docker images whose entrypoint is defined and are run as an executable, Dunner fails to execute commands defined in it.

Example: [Goreleaser's docker](https://github.com/goreleaser/goreleaser/blob/master/Dockerfile) file.

Dunner task file:

[code]

Running this command with dunner fails with error as:

[code]

[2019-08-27 18:50] agentmilindu commented on #175
What if the entry point is something like `/app/src/python/main/analyze.py`? Then someone who uses this docker needs to put this again and again in commands, right?
[code]

[2019-08-31 10:40] agentmilindu commented on #175
Is some cases, users really don't know what is the entry point is. I strongly suggests against users having to define the entry point in commands.

WDYT @PratikDhanave @tdevinda @charithccmc @tharindupr @rehrumesh?

[2019-08-31 22:56] apoorvam opened #178 "Dunner Unit tests in windows fail"
Ref: https://github.com/leopardslab/dunner/pull/165/checks?check_run_id=208911721

11 unit tests of dunner fail on windows. Mostly related to path issues.

### Expected

Unit tests should pass on dunner

[2019-09-05 17:09] apoorvam commented on #178
Have made all the tests to work based on OS and not linux specific as part of PR: https://github.com/leopardslab/dunner/pull/165

However, there are two tests failing which are due to implementation issue with way mount directory can be defined in Dunner file. Will open a new issue for that and close this.

[2019-09-05 17:09] #178 closed

[2019-12-01 07:49] hv7214 commented on #135
Hey, anyone up for the logo?. I was thinking to add this feature.

[2019-12-01 07:50] agentmilindu commented on #135
please go ahead, you can send us your designs! We would love to see.

[2019-12-02 05:54] hv7214 commented on #135
What about this?
![logo](https://user-images.githubusercontent.com/42354803/69933883-4330bf80-14f6-11ea-9c32-fa74f408e826.png)

[2019-12-02 05:58] apoorvam commented on #135
Good work!

Can you give us a description of the thoughts behind this logo? How does it relate to Containers/Task runner etc?

[2019-12-02 06:08] hv7214 commented on #135
I mainly focused on the runner keyword(so R), blue color kinda represents docker.

[2019-12-03 15:13] hv7214 commented on #135
@apoorvam  Is logo fine? or i should give another try?

[2019-12-03 18:32] apoorvam commented on #135
@hv7214 Definitely it is some good work and good reasoning. But I personally not convinced that it can relate to Dunner very much in first glance because it highlights R. If possible you can give another try. However, we'll keep this logo also as an option until we finalize.

Would be great if logo has flavours of some/all of these: Containers/Docker/Golang/Dunner in it.

[2019-12-03 18:48] hv7214 commented on #135
Okay, i will another shot. Infact, now i'm also not much convinced with this logo.

[2019-12-21 08:00] cjprogamer commented on #135
![logo](https://user-images.githubusercontent.com/41909955/71305192-cd957200-2384-11ea-8a29-0b7c3b0958d8.png)
Here is a logo !

[2019-12-21 08:01] cjprogamer commented on #135
![logo](https://user-images.githubusercontent.com/41909955/71305214-12210d80-2385-11ea-8bc8-5a4636e1315f.png)
Here is a logo !

[2019-12-21 08:03] cjprogamer commented on #135
Here is a logo !

![logo](https://user-images.githubusercontent.com/41909955/71305232-60cea780-2385-11ea-9b53-7f6e3e5c9e79.png)

[2019-12-21 17:52] alpha2320 commented on #135
nice design .... just something similar to it :
https://hackernoon.com/building-a-development-environment-for-golang-with-docker-3ccc620c4920
👍 💯

[2019-12-22 03:31] cjprogamer commented on #135
Thnk you very much. Is there a problem with the logo ? (cuz it's also used by hackernoon ? )

[2019-12-22 04:17] alpha2320 commented on #135
nooo.... just found something similar ....i am also a participant ... sometime hit me up!... ;)....
also do tell me how is mine looking?... will love to hear a review from u dude!
<img width="720" alt="Screenshot 2019-12-22 at 9 42 13" src="https://user-images.githubusercontent.com/58825698/71316978-f4949680-249f-11ea-9237-e8658977235a.png">

[2019-12-22 04:20] chamiduu commented on #135
It's good, but I think It is more complex. Come up with a minimilistic logo ! ;-)

[2019-12-23 07:33] chamiduu commented on #135
Here is an one !
![logo](https://user-images.githubusercontent.com/41909955/71343020-5f32ea00-2513-11ea-8056-91a5029159a3.png)

[2019-12-23 07:40] hv7214 commented on #135
Great work @cjprogamer!

[2019-12-23 07:41] alpha2320 commented on #135
![dunner_alpha](https://user-images.githubusercontent.com/58825698/71343373-a6f25980-2585-11ea-944b-71ff5f92365e.png)

[2019-12-24 07:48] SufiyanPasta commented on #135
![Dunner-logo](https://user-images.githubusercontent.com/58876317/71401403-2b56e200-2643-11ea-9e68-123b3ae9190b.png)
![Dunner-logo (1)](https://user-images.githubusercontent.com/58876317/71401407-30b42c80-2643-11ea-868c-1e688d0741e6.png)

[2019-12-24 07:48] SufiyanPasta commented on #135
how about this?

[2019-12-26 12:06] Mohtashim1210 opened #185 "Akkxhx"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-26 12:08] Mohtashim1210 commented on #135
![Dunner](https://user-images.githubusercontent.com/58835199/71475476-956db380-280a-11ea-9938-e8941a2b19f5.png)
How about this?

[2019-12-26 13:41] apoorvam commented on #185
@Mohtashim1210 I dont find any details of a bug report/issue for Dunner. Looks like created by mistake. Will be closing it, feel free to open another issue if you face any problem with Dunner.

[2019-12-26 13:41] #185 closed, assigned to nobody

[2019-12-26 13:43] Mohtashim1210 commented on #185
Yes..It was a mistake :(

On Thu, Dec 26, 2019, 7:41 PM Apoorva M <notifications@github.com> wrote:

[2019-12-26 13:43] apoorvam commented on #135
@Mohtashim1210 Can you give a brief justification of how your logo is suitable for Dunner? That can help us understand and give feedback.

Would recommend to include ideas of Docker, Task runner, Golang in the logo since they depict what dunner is related to.

[2019-12-27 11:43] kmehant opened #186 "Add support for podman as backend for Dunner."
**Is your feature request related to a problem? Please describe.**
Docker container engine runs as a daemon service for container management. There is a possibility that developers might use daemonless services like **podman** .

**Describe the solution you'd like**
We need to add support for podman as Backend for Dunner.  We can implement these functionalities
* Dunner automatically chooses avail

[2019-12-27 11:44] kmehant commented on #186
@apoorvam @agentmilindu thoughts?

[2019-12-28 07:52] saadpasta commented on #135
![Dunner-logo (3)](https://user-images.githubusercontent.com/23307811/71540774-e4355d80-2970-11ea-82ee-271388f192ea.png)

[2019-12-28 07:54] SufiyanPasta commented on #135
![Dunner-logo (3)](https://user-images.githubusercontent.com/58876317/71540798-1ba40a00-2971-11ea-8760-6b8a40443ea7.png)

[2019-12-30 06:46] Dhanujanawanjana opened #190 "Dunner logo"
![DUNNER LOGO](https://user-images.githubusercontent.com/59271302/71571017-3657b980-2afe-11ea-8fe3-ecf9ae605e97.png)

[2019-12-31 02:02] Dhanujanawanjana opened #192 "Dunner Logo"
![DUNNER LOGO2](https://user-images.githubusercontent.com/59271302/71607447-8aff4100-2b9f-11ea-997f-d9e365e7c85c.png)

[2019-12-31 02:07] Dhanujanawanjana commented on #135
Dunner logo
![DUNNER LOGO2](https://user-images.githubusercontent.com/59271302/71607556-563fb980-2ba0-11ea-846a-57b53ca4a707.png)

[2020-01-02 07:47] sharman13 commented on #135
This is my logo
![Dunner logo](https://user-images.githubusercontent.com/58657244/71656667-2809d780-2d62-11ea-995b-254e156899fa.png)

[2020-01-02 08:25] apoorvam commented on #190
Please submit PR for work and not open a new issue.

[2020-01-02 08:25] #190 closed, assigned to nobody

[2020-01-02 08:25] apoorvam commented on #192
#135 Please submit it here or send a PR.

[2020-01-02 08:25] #192 closed, assigned to nobody

[2020-01-02 08:34] apoorvam commented on #186
@kmehant I havent personally used daemonless services. But I think it would be a good addition for Dunner. But we need to analyse on how it can be integrated and consequences.
Is there a golang sdk for it? Do many users use this approach with Docker?

On a side note, We had an idea of making dunner as daemon and accessing it using API. But its not yet implemented.

[2020-01-02 16:31] ghost commented on #135
![Dunner Logo](https://user-images.githubusercontent.com/59133890/71678514-8a3cf980-2daf-11ea-90b7-3e0900c242b4.png)

[2020-01-14 15:10] kmehant commented on #186
@apoorvam @agentmilindu
As far as I know, there is no dedicated Go SDK for podman, yet it has to be handled through its command-line interface. Moreover, there is an API for podman which we can use through varlink interface and use it with Go lang further.
Look through [this doc](https://podman.io/blogs/2019/01/16/podman-varlink.html) and [go client example for podman](https://github.com/haraldh/p

[2020-01-16 16:48] mikutav commented on #135
![20200116_221405](https://user-images.githubusercontent.com/59904433/72544813-06563780-38ae-11ea-82ed-c41774ec5213.png)

My submission sir
Royal shiv

[2020-01-20 13:32] AF000001 commented on #135
![Dunner](https://user-images.githubusercontent.com/59760341/72730460-6d7a3180-3bb7-11ea-86d8-bf028a80ef9a.png)

[2020-01-20 13:34] AF000001 commented on #135
![Dunner](https://user-images.githubusercontent.com/59760341/72730586-a87c6500-3bb7-11ea-9398-894302609c91.png)

[2020-01-21 10:38] parasgathani7143 commented on #135
![paras dunner](https://user-images.githubusercontent.com/42924011/72798072-47609a00-3c68-11ea-8894-a7946cb55c3a.png)

[2020-01-22 03:08] parasgathani7143 commented on #135
![ergfv](https://user-images.githubusercontent.com/42924011/72862273-95ba7b00-3cf2-11ea-821f-160d082221ce.png)

[2020-01-22 09:47] parasgathani7143 commented on #135
![alpha52](https://user-images.githubusercontent.com/42924011/72883342-252f5080-3d2a-11ea-9120-f857fbc79a53.png)

[2020-01-22 18:49] AnirudhFarwaha commented on #135
![Logo](https://user-images.githubusercontent.com/59760341/72923911-f17a1800-3d75-11ea-9425-93ec1a8be1a2.png)

[2020-02-11 12:43] shivanshuraj1333 opened #203 "Update Developer guide"
Since the current master branch is no longer using `dep` as a package manager.
We need to modify the Developer guide for Installtion of Dunner.

[2020-02-11 14:19] shivanshuraj1333 commented on #203
Please find the modified wiki page here https://github.com/shivanshu1333/dunner/wiki
As GitHub [doesn't support pull requests for the wiki repository](https://github.com/gollum/gollum/issues/265) please do the following to modify dunner wiki.
[code]

[2020-02-11 20:52] apoorvam commented on #203
@shivanshu1333 I see your changes in Developer Guide, looks good. Is that only change you made? If any other please specify. If there is a way to see the diff, it would be great.

[2020-02-12 01:09] shivanshuraj1333 commented on #203
@apoorvam Yes, I have modified only the Developer Guide, I think rest of the wiki is good.
You can easily check the diff by various methods, I'm writing one below.
* On en empty folder initialize git repo by cloning the original wiki guide
* Checkout to a temporary branch and git pull modified wiki
* Run `git diff` to see the changes.

Commands for the same:-
`git clone https://github.com/leopards

[2020-02-17 19:10] apoorvam commented on #203
I got it, but i was looking to see diff online without cloning it locally.

Merged! Thanks for your contribution.

[2020-02-17 19:10] #203 closed, assigned to nobody

[2020-02-21 04:12] Divya063 commented on #172
@apoorvam I would like to work on this.

[2020-02-21 04:25] apoorvam commented on #172
Sure, send a completed PR. You can try for building, running tests in all platforms possible(linux, win, mac)

You can refer this commit: https://github.com/leopardslab/dunner/commit/56a21dcbf7c3a2f9f76c8c7ff62ab8f586ccce80

[2020-03-22 09:40] agentmilindu opened #204 "`dunner do install` commands to quick install tools globally"
**Is your feature request related to a problem? Please describe.**
We sometimes need a way to quickly install tools which we don't need in the long run. For example, when you get a project that needs Maven 3 to work, and if you know you are not going to use it after the current project, why install it on your machine permanently and why go through all the hassle in installing tools like this?.

**

[2020-03-22 12:41] agentmilindu opened #205 "Ability to pass varying number of parameters to a command"
**Is your feature request related to a problem? Please describe.**
Tools like Maven, Yarn, etc need the ability to pass varying number of multiple parameters. For example,
[code]

but currently, in Dunner, we have to define how many params we are expecting in `.dunner.yaml
` like,

[code]

With the above definition we can only pass one parameter. like `dunner do mvn package` and commands as `mvn c

[2020-04-29 05:52] kmehant commented on #135
Hello,
@apoorvam
I just got to know Dunner and [Hasura](https://hasura.io/) got the same logo.
We might need to update it. As Google code-in is done, with many logo submissions for Dunner we might choose one and make it official ;)
Or Someone can have their designs here, I guess :)

[2020-04-29 06:03] alpha2320 commented on #135
![New Project (3)](https://user-images.githubusercontent.com/58825698/80565055-28af3380-8a0d-11ea-8bf4-ed8ef47108ea.png)
 how about this?

[2020-04-29 19:16] apoorvam commented on #135
Right, we should update it. They have same currently because Dunner uses their gatsby template for website.
We can shortlist some of the logos here, choose one and make some changes if required, then finalize Dunner logo!

[2021-01-14 08:07] kiranpatel11 opened #206 "dunner installation as embedable wrapper"
**Is your feature request related to a problem? Please describe.**
It will be very useful to have dunner installation embeded in the git repo itself rather than expecting it to be installed on host machine. that way it is ensured all developers in a team works with same version of Dunner.
Secondly, In our CI env, we don't have ability to install different software, we run everying via docker.

**D

[2021-01-15 00:22] agentmilindu commented on #206
Sounds interesting. But I didn't get the whole picture yet. Can you elaborate this idea with now context?

[2021-01-15 06:04] kiranpatel11 commented on #206
Dunner requires local installation, which means different developers can be running different versions of Dunner. Where as if you see mvnw or gradlew uses a wrapper script committed to source control to manage the version and ensure that everyone - developers and CI - use the same version and so have a consistent experience.

Reference:
https://github.com/batect/batect#getting-started
https://gith